# Importing Libraries and Loading Data

In [1]:
# importing libraries
import pandas as pd
import numpy as np

# Load the data

In [2]:
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', 
                     names=['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 
                            'unknown', 'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 
                            'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
                            'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'])

#  Data Processing

# Merge ratings and movies dataframes on item_id

In [3]:
data = pd.merge(ratings, movies[['item_id', 'title'] + movies.columns.tolist()[6:]], on='item_id')

# Calculate average rating and number of ratings for each movie

In [4]:
movie_stats = data.groupby('title').agg({'rating': ['mean', 'count']}).reset_index()
movie_stats.columns = ['title', 'average_rating', 'rating_count']

# Merge with the genre information

In [5]:
movie_genres = data[['title'] + movies.columns.tolist()[6:]].drop_duplicates()
movie_stats = pd.merge(movie_stats, movie_genres, on='title')

# Calculate Popularity and Generate Recommendations

# Function to get top N movies by genre

In [6]:
def get_top_n_movies_by_genre(df, genre, n=5):
    genre_movies = df[df[genre] == 1]
    top_movies = genre_movies.sort_values(by=['rating_count', 'average_rating'], ascending=[False, False]).head(n)
    return top_movies[['title', 'average_rating', 'rating_count']]

# List of genres

In [7]:
genres = movies.columns.tolist()[6:]

# Generate recommendations for each genre

In [8]:
top_movies_by_genre = {}
for genre in genres:
    top_movies_by_genre[genre] = get_top_n_movies_by_genre(movie_stats, genre, n=5)

# Display the recommendations

In [9]:
for genre, movies in top_movies_by_genre.items():
    print(f"Top 5 movies in {genre} genre:")
    print(movies)
    print("\n")

Top 5 movies in Action genre:
                               title  average_rating  rating_count
1398                Star Wars (1977)        4.358491           583
1234       Return of the Jedi (1983)        4.007890           507
32              Air Force One (1997)        3.631090           431
744    Independence Day (ID4) (1996)        3.438228           429
1205  Raiders of the Lost Ark (1981)        4.252381           420


Top 5 movies in Adventure genre:
                                title  average_rating  rating_count
1398                 Star Wars (1977)        4.358491           583
1234        Return of the Jedi (1983)        4.007890           507
1205   Raiders of the Lost Ark (1981)        4.252381           420
1251                 Rock, The (1996)        3.693122           378
456   Empire Strikes Back, The (1980)        4.204360           367


Top 5 movies in Animation genre:
                            title  average_rating  rating_count
1523             Toy Story (1995)        3.878319           452
867         Lion King, The (1994)        3.781818           220
36                 Aladdin (1992)        3.812785           219
142   Beauty and the Beast (1991)        3.792079           202
494               Fantasia (1940)        3.770115           174


Top 5 movies in Children genre:
                                             title  average_rating  \
1523                              Toy Story (1995)        3.878319
1633  Willy Wonka and the Chocolate Factory (1971)        3.631902
446              E.T. the Extra-Terrestrial (1982)        3.833333
1644                      Wizard of Oz, The (1939)        4.077236
867                          Lion King, The (1994)        3.781818

      rating_count
1523           452
1633           326
446            300
1644           246
867            220


Top 5 movies in Comedy genre:
                                             title  average_rating  \
860                               Liar Liar (1997)        3.156701
1523                              Toy Story (1995)        3.878319
113                      Back to the Future (1985)        3.834286
1633  Willy Wonka and the Chocolate Factory (1971)        3.631902
1178                    Princess Bride, The (1987)        4.172840

      rating_count
860            485
1523           452
113            350
1633           326
1178           324


Top 5 movies in Crime genre:
                           title  average_rating  rating_count
498                 Fargo (1996)        4.155512           508
612        Godfather, The (1972)        4.283293           413
1190         Pulp Fiction (1994)        4.060914           394
829     L.A. Confidential (1997)        4.161616           297
1572  Usual Suspects, The (1995)        4.385768           267


Top 5 movies in Documentary genre:
                            title  average_rating  rating_count
696            Hoop Dreams (1994)        4.094017           117
360                  Crumb (1994)        3.790123            81
283  Celluloid Closet, The (1995)        3.892857            56
885    Looking for Richard (1996)        3.727273            55
826          Koyaanisqatsi (1983)        3.490566            53


Top 5 movies in Drama genre:
                            title  average_rating  rating_count
333                Contact (1997)        3.803536           509
498                  Fargo (1996)        4.155512           508
460   English Patient, The (1996)        3.656965           481
612         Godfather, The (1972)        4.283293           413
1190          Pulp Fiction (1994)        4.060914           394


Top 5 movies in Fantasy genre:
                                  title  average_rating  rating_count
446   E.T. the Extra-Terrestrial (1982)        3.833333           300
1085        Nutty Professor, The (1996)        2.914110           163
435                  Dragonheart (1996)        3.082278           158
950                    Mask, The (1994)        3.193798           129
792                      Jumanji (1995)        3.312500            96


Top 5 movies in Film-Noir genre:
                                title  average_rating  rating_count
829          L.A. Confidential (1997)        4.161616           297
184               Blade Runner (1982)        4.138182           275
296                  Chinatown (1974)        4.136054           147
926        Maltese Falcon, The (1941)        4.210145           138
936  Manchurian Candidate, The (1962)        4.259542           131


Top 5 movies in Horror genre:
                    title  average_rating  rating_count
1284        Scream (1996)        3.441423           478
41           Alien (1979)        4.034364           291
773           Jaws (1975)        3.775000           280
1189        Psycho (1960)        4.100418           239
1322  Shining, The (1980)        3.825243           206


Top 5 movies in Musical genre:
                           title  average_rating  rating_count
476                 Evita (1996)        2.980695           259
199   Blues Brothers, The (1980)        3.836653           251
1644    Wizard of Oz, The (1939)        4.077236           246
1365  Sound of Music, The (1965)        3.765766           222
867        Lion King, The (1994)        3.781818           220


Top 5 movies in Mystery genre:
                            title  average_rating  rating_count
987    Mission: Impossible (1996)        3.313953           344
829      L.A. Confidential (1997)        4.161616           297
332      Conspiracy Theory (1997)        3.423729           295
50                 Amadeus (1984)        4.163043           276
7    2001: A Space Odyssey (1968)        3.969112           259


Top 5 movies in Romance genre:
                            title  average_rating  rating_count
1398             Star Wars (1977)        4.358491           583
1234    Return of the Jedi (1983)        4.007890           507
460   English Patient, The (1996)        3.656965           481
780          Jerry Maguire (1996)        3.710938           384
293            Chasing Amy (1997)        3.839050           379


Top 5 movies in Sci-Fi genre:
                              title  average_rating  rating_count
1398               Star Wars (1977)        4.358491           583
333                  Contact (1997)        3.803536           509
1234      Return of the Jedi (1983)        4.007890           507
744   Independence Day (ID4) (1996)        3.438228           429
1543          Twelve Monkeys (1995)        3.798469           392


Top 5 movies in Thriller genre:
                                 title  average_rating  rating_count
498                       Fargo (1996)        4.155512           508
1284                     Scream (1996)        3.441423           478
32                Air Force One (1997)        3.631090           431
1329  Silence of the Lambs, The (1991)        4.289744           390
1251                  Rock, The (1996)        3.693122           378


Top 5 movies in War genre:
                                title  average_rating  rating_count
1398                 Star Wars (1977)        4.358491           583
1234        Return of the Jedi (1983)        4.007890           507
460       English Patient, The (1996)        3.656965           481
744     Independence Day (ID4) (1996)        3.438228           429
456   Empire Strikes Back, The (1980)        4.204360           367


Top 5 movies in Western genre:
                                          title  average_rating  rating_count
373                   Dances with Wolves (1990)        3.792969           256
249   Butch Cassidy and the Sundance Kid (1969)        3.949074           216
1565                          Unforgiven (1992)        3.868132           182
622      Good, The Bad and The Ugly, The (1966)        3.861314           137
954                             Maverick (1994)        3.468750           128